:root {
  --fill-color: #070387;
  --h1-color: #0703A0;
  --h2-color: #000;
  --box-shadow: 0 0 30px gray;
  --text-color: #333;
  --background-color: #eee;
  --borders-solid: 1px solid rgba(0 0 0 / 1);
  --borders-trans: 1px solid rgba(0 0 0 / .1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--fill-color);
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 5px 20px;
}

h1 {
  color: var(--h1-color);
  margin: 20px;
}

h2 {
  color: var(--h2-color);
  margin: 25px;
}

main img {
  margin: 20px;
  width: 150px;
  height: auto;
  border: var(--borders-solid);
  padding: 2px;
  box-shadow: var(--box-shadow);
  float: right;
}

p {
  margin: 20px;
  padding: 0;
}

main {
  max-width: 640px;
}

section {
  clear: both;
}

section li a {
  padding: 0 10px;
  color: var(--text-color);
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

aside img {
  width: 200px;
  height: auto;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: var(--borders-trans);
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 15px;
  left: 100px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}