* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
  margin: 20px;
}

h2 {
  color: cornflowerblue;
  margin: 25px;
}

main img {
  margin: 20px;
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  margin: 20px;
  padding: 0;
}

main {
  max-width: 840px;
}

aside img {
  width: 200px;
  height: auto;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / .1);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}